[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pip = "==18.0"
flask = "*"
requests = "*"
flask-sqlalchemy = "*"
flask-login = "*"
redis = "*"
rq = "*"

[dev-packages]

[requires]
python_version = "3.7"
